body {
  padding-top: 30px;
  background-color: #FFFFEE;
}
@media screen and (max-width: 768px) {
    body {
      padding-top: 0px;
    }
}

/* navbar styles */
.navbar-brand span{
  color: red;
}

/* jumbotron/intro styles */
.jumbotron{
  background-image: url("img/plantshadow.jpeg");
  background-size: cover;
  margin-bottom: 0px; /* removes white space caused by standard bootstrap margin */
}

.jumbotron .container {
  position: relative;
  top: 4em;
  padding-bottom: 15em;
}

.jumbotron h1{
  font-size: 5em;
  color: #efefef
}

.jumbotron h1::first-letter{
  font-size: 2em;
  color: red;
}

.jumbotron p{
  font-size: 2em;
  color: #efefef;
}

/* learn section styles */
.learn-section{
  background-color: #FFFFEE;
  /*border-bottom: 1px solid #dbdbdb;*/
  padding-top: 10em;
  padding-bottom: 10em;
}

.learn-header{
  padding-bottom: 6em;
}

/* code section styles*/
.code-section{
  background-color: #FFFFEE;
  padding-top: 10em;
  padding-bottom: 10em;
}

.code-header{
  text-align: center;
  margin-bottom: 8em;
}
.code-header img{
  height: 4em;
  width: 4em;
}

#ga-logo{
  /*margin-top: 2em;*/
}

.code-header p, .code-header h3{
  display: inline-block;
  padding-left: 1em;
}

/* contact section styles */
.contact-section{
  background-color: #FFFFEE;
  text-align: center;
  padding-top: 6em;
  padding-bottom: 8em;
}

.contact-header{
  margin-bottom: 2em;
}

.contact-links img{
  height: 4em;
  width: 4em;
}
