body {
  padding-top: 2em;
  position: relative;
  background: url("img/concrete_seamless.png") repeat 0 0;
}

a:visited{
  text-decoration: none;
}

p, a, .list-group-item {
  font-family: 'Vollkorn', serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu Mono';
}

/* navbar styles */
.navbar a {
  font-family: 'Ubuntu Mono';
  font-size: 1.25em;
}
#home_link {
  color: red;
}

/* jumbotron/intro styles */
.jumbotron{
  background-image: url("img/plantshadow.jpeg");
  background-size: cover;
  margin-bottom: 0px; /* removes white space caused by standard bootstrap margin */
}

.jumbotron .container {
  position: relative;
  top: 4em;
  padding-bottom: 15em;
}

.jumbotron h1{
  font-size: 5em;
  color: #c9c9c9;
}

.jumbotron h1::first-letter{
  font-size: 2em;
  color: red;
}

.jumbotron p{
  font-size: 2em;
  color: #c9c9c9;
}

/* skills section styles */
.skills-section{
  padding-top: 5em;
}

.skills-section .container{
  padding-bottom: 8em;
  border-bottom: 1px solid #363a3a;
}

.skills-header{
  padding-bottom: 3em;
  text-align: center;
}

.skills-headline{
  margin-top: 4em;
}

/* code section styles*/
.code-section{
  padding-top: 5em;
}

.code-section .container{
  padding-bottom: 8em;
  border-bottom: 1px solid #363a3a;
}

.code-header{
  text-align: center;
  margin-bottom: 3em;
}
.code-header img{
  height: 4em;
  width: 4em;
}
.code-header p, .code-header h3{
  display: inline-block;
  padding-left: 1em;
}
.code-section .caption{
  padding-left: 2em;
}
#ga-logo{
  /*margin-top: 2em;*/
}


/* contact section styles */
.contact-section{
  text-align: center;
  padding-top: 3em;
  padding-bottom: 8em;
}

.contact-header{
  margin-bottom: 2em;
}

.contact-links img{
  height: 4em;
  width: 4em;
}

@media screen and (max-width: 768px) {
    /* add more padding so fixed nav does not overlap h1 in jumbotron*/
    body {
      padding-top: 4em;
    }
    /* center nav links */
    .navbar a {
      text-align: center;
    }
    /* add extra padding so fixed navbar doesn't cover section when using links */
    .skills-section, .code-section {
      padding-top: 14em;
    }
    /* remove GA logo */
    #ga-logo{
      display: none;
    }
}
